
$mine-shaft:                      #333333;
$tundora:                         #444444;
$emperor:                         #555555;
$dove-gray:                       #666666;
$gray:                            #888888;
$silver:                          #cccccc;
$gallery:                         #f0f0f0;
$white:                           #ffffff;

$fire:                            #b24000;
$coral:                           #ff8d4c;
$rose-bud:                        #fcb892;
$blaze-orange:                    #ff5c00;
$persian-green:                   #00b2af;
$aqua:                            #00fffa;
